@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:wght@500&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-vend-sans: "Vend Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c0bfcf;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Vend Sans', sans-serif;
}
